venv/*
data/csv/*
data/df/df_benign_cleaned.csv
data/df/df_malign_cleaned.csv
.env
latex/main.aux
latex/main.bbl
latex/main.blg
latex/main.idx
latex/main.lof
latex/main.out
latex/main.toc
latex/main.log
data/model/KNeighborsClassifier.pkl
data/model/MLPClassifier.pkl
data/model/XGBClassifier.pkl
data/model/captured/KNeighborsClassifier.pkl
data/model/captured/MLPClassifier.pkl
data/model/captured/XGBClassifier.pkl
